h1, h3 {
    background-color: #C4C4C4;
    color: #005677;
    padding-top: 0.2%;
    text-transform: uppercase;
}

header {
    text-align: center;
}

li {
    font-style: italic;
    font-weight: bold;
}

span {
    font-style: normal;
    font-weight: normal;
}

footer {
    background-color: #005677;
    color: #FFFFFF;
    text-align: center;
    font-size: 20px;
    text-transform: uppercase;
}

p {
    font-style: normal;
    font-weight: bold;
}
